<a href="https://colab.research.google.com/github/samp3209/wineproject/blob/main/finaltablejoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('winedf - winedf (1).csv')
newcols = pd.read_csv('Wine Vintage Years - newcols.csv')

In [ ]:
df = pd.merge(df, newcols[['Vintage', 'Drinkability', 'Desirability']],
              how='left', left_on=['year'], right_on=['Vintage'])

In [ ]:
df.drop('Vintage', axis=1, inplace=True)

In [ ]:
df

,pp750ml,wine_names,year,Age,price,region,country,quantity,ml,numbottles,...,germany region rating,germany points,port temperature,port region rating,port points,france temperature,france region rating,france points,Drinkability,Desirability
0,6995.00,1911 Moet & Chandon Vintage Champagne 750ml,1911,112,6995.00,champagne,france,750 ml,750,1,...,0.0,0.0,0,0.0,0.00,3,6.2,0.820,4.0,9.3
1,5000.00,"[lot 352], Chateau Lafite Rothschild",1914,109,5000.00,bordeaux,france,750 ml,750,1,...,0.0,0.0,0,0.0,0.00,2,9.2,0.950,5.5,10.0
2,6995.00,1914 Moet & Chandon Vintage Champagne 750ml,1914,109,6995.00,champagne,france,750 ml,750,1,...,0.0,0.0,0,0.0,0.00,3,9.6,0.980,5.5,10.0
3,737.72,1924 Kopke Vintage Port 1924,1924,99,737.72,duoro,port,750 ml,750,1,...,0.0,0.0,2,8.8,0.92,0,0.0,0.000,5.5,8.0
4,2544.43,"Clos des Lambrays 1937, Dom. des Lambrays, Cot...",1937,86,2544.43,burgundy,france,750 ml,750,1,...,0.0,0.0,0,0.0,0.00,1,8.7,0.889,6.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,48.57,"2021 Scharzhof Riesling QBA, Egon Muller [In B...",2022,1,48.57,masel,germany,750 ml,750,1,...,8.0,0.0,0,0.0,0.00,0,0.0,0.000,5.0,6.0
9226,175.68,"Villa Wolf Pinot Noir Rose, Germany, Pfalz",2022,1,175.68,pfalz,germany,750 ml,750,1,...,8.0,0.0,0,0.0,0.00,0,0.0,0.000,5.0,6.0
9227,362.72,"Wiltinger Braune Kupp Kabinett, Germany, Egon ...",2022,1,362.72,masel,germany,750 ml,750,1,...,8.0,0.0,0,0.0,0.00,0,0.0,0.000,5.0,6.0
9228,127.58,"Wiltinger braune Kupp Riesling Kabinett, Weing...",2022,1,127.58,masel,germany,750 ml,750,1,...,8.0,0.0,0,0.0,0.00,0,0.0,0.000,5.0,6.0
9229,49.96,"Wiltinger braune Kupp Riesling Kabinett, Weing...",2022,1,49.96,masel,germany,750 ml,750,1,...,8.0,0.0,0,0.0,0.00,0,0.0,0.000,5.0,6.0

In [ ]:
df.to_csv('finalwine.csv')